/*================================
=            PAGE HEADER         =
================================*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
    background-color: $colorGreyscale_5;
    z-index: 20;

    .container-h {
        display: flex;
        align-items: center;
        gap: 50.5px;

        .container-link {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .link-left,
            .link-right {
                display: flex;
                align-items: center;
            }

            .link-left {
                position: relative;
                .item-nav{
                    margin-right: 24px;
                    @include styleP("medium");
                    text-decoration: none;
                    &:first-of-type{
                        display: flex;
                        align-items: center;
                        gap: 6.5px;
                    }
                }
                .scrolling-menu{
                    position: absolute;
                    margin-left: -15px;
                    top : 43px;
                    list-style-type: none;
                    padding: 10px;
                    border-radius: 16px;
                    background-color: $colorGreyscale_5;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
                    .scrolling-item{
                        padding: 12px;
                        border-radius: 12px;
                        a{
                            @include styleP("medium");
                            text-decoration: none;
                        }
                        &:hover{
                            background-color: $colorGreyscale_4;
                        }
                    }
                }
            }

            .link-right {
                align-self: flex-end;

                a:first-child {
                    margin-right: 24px;
                    @include styleA("big");
                }

                .btn-h-1 {
                    @include styleButton("small", "3");
                }
            }
        }
    }

    &.style-scroll {
        padding: 28px 40px;
    }
}

.hide{
    display: none;
}
.show{
    display: block;
}
/*----------  RESPONSIBLE  ----------*/
@media screen and (max-width: $breakPoint_mobile){
    header{
        padding: 22px 24px;
        .container-h{
            gap: unset;
            justify-content: space-between;
            .container-link{
                position: absolute;
                flex-direction: column;
                justify-content: unset;
                padding: 22px 24px;
                background-color: $colorGreyscale_5;
                z-index: 15;
                height: 100vh;
                div{
                    &:first-child{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 46px;
                    }
                }
                .link-left{
                    flex-direction: column;
                    align-items: flex-start;
                    .btn-h-mobile{
                        @include styleButton("medium","1");
                        width: 100%;
                        padding: 0;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 64px;
                        order: 1;
                    }
                    .item-nav{
                        font-size: 18px;
                        margin-bottom: 40px;
                        order: 4;
                        &:first-of-type{
                            order: 2;
                        }
                    }
                    .scrolling-menu{
                        position: static;
                        margin: unset;
                        top: unset;
                        padding: unset;
                        box-shadow: unset;
                        background-color: unset;
                        order: 3;
                        .scrolling-item{
                            padding: unset;
                            border-radius: unset;
                            margin-bottom: 16.75px;
                            a{
                                font-size: 18px;
                            }
                            &:last-of-type{
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
                .link-right{
                    align-self: flex-start;
                }
            }
        }
        &.style-scroll {
            padding: 8px 24px;
        }
        .nav__menu{
            position: relative;
            top: -150vh;
            left: 0;
            .nav__close{
                display: block;
                padding-right: 6px;
            }
        }
        .nav__toggle{
            display: block;
        }
        .show-menu{
            top: 0;
        
        }
        
    }

    .hide-mobile{
        display: none !important;
    }
    .show-mobile{
        display: flex !important;
    }
}

/*====================================
=            END PAGE HEADER         =
====================================*/