@import './common.scss';

/*================================
=            PAGE HOME           =
================================*/

/* ------------ GENERAL ------------ */
.wrapper{
    @include styleGrid("wrapper");
}

/* ------------ SECTION HERO ------------ */

.section-hero{
    margin-top: 154px;
    .container-sh{
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        .container-sh-1{
            @include styleGrid("width",5,1);
            border-radius: 16px;
            padding: 70px 0 66px 37px;
            background-color: $colorPrimary_1;
            h1{
                @include styleH("h1", $color: $colorGreyscale_5);
                margin-bottom: 24px;
            }
            .btn-sh-1{
                @include styleButton("big","2");
                margin-bottom: 38px;
            }
            .container-sh-list{
                div{
                    display: flex;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .text{
                        @include styleP("big", $color: $colorGreyscale_5, $font: $font_1_bold);
                        margin-left: 18px;
                    }
                }
            }
        }
        .container-sh-2{
            @include styleGrid("width",6,1);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .container-sh-img{
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                &:first-child{
                    @include styleGrid("width",3,1);
                    height: 243px;
                    background-color:$colorSecondary_1;
                    margin-bottom: 40px;
                }
                &:nth-of-type(2){
                    @include styleGrid("width",3,1);
                    background: repeating-linear-gradient( 45deg, rgba(0,0,0,0), rgba(0,0,0,0) 12px, $colorPrimary_2 12px, $colorPrimary_2 45px );
                }
                &:last-child{
                    background-color: $colorSecondary_2;
                    height: 243px;
                    align-self: flex-end;
                }
            }
        }
    }
}
/* ------------ SECTION 1 ------------ */

.section-1{
    height: 200px;
    background-color: $colorGreyscale_1;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
            @include styleH("h5", $color: $colorGreyscale_5);
            margin: 40px 0 8px 0;
        }
        .container-logo{
            @include styleGrid("width");
            display: flex;
            justify-content: space-between;
        
        }
    }
}
/* ------------ SECTION 2 ------------ */

.section-2{
    height: 675px;
    background-color: $colorSecondary_1;
    .container-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0 70px 0;
        .text{
            @include styleP("big");
        }
        h2{
            @include styleH("h2");
        }
    }
    .container-div{
        display: flex;
        justify-content: space-between;
        .container-img{
            display: flex;
            gap: 28px;
            div{
                border-radius: 16px;
            }
            .two{
                display: flex;
                flex-direction: column;
                gap: 24px;
                .lightning{
                    width: 350px;
                    height: 155px;
                    padding: 43px 32px 42px 32px;
                    gap: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $colorPrimary_1;
                    h3{
                        @include styleH("h3", $color: $colorGreyscale_5);
                    }
                }
                .eye{
                    align-self: flex-end;
                    display: flex;
                    justify-content: space-between;
                    width: 300px;
                    padding: 22px 32px 24px 32px;
                    background-color: $colorGreyscale_5;
                    h4{
                        @include styleH("h4");
                    }
                    p{
                        opacity: 0.6;
                        @include styleP("medium");
                    }
                }
            }
            .tear{
                width: 200px;
                height: 280px;
                padding: 40px 32px 32px 32px;
                background-color: $colorPrimary_2;
                img{
                    margin-left: -3px;
                    margin-bottom: 24px;
                }
                h3{
                    @include styleH("h3", $color: $colorGreyscale_5);
                }
                p{
                    @include styleP("medium", $color: $colorGreyscale_5);
                }
            }
            
        }
    }
    .container-text{
        @include styleGrid("width",4,1);
        p{
            @include styleP("big");
            margin-bottom: 45px;
        }
        div{
            display: flex;
            .btn-video{
                cursor: pointer;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin-right: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $colorPrimary_1;
                transition: background-color 0.25s ease;
                &:hover{
                    background-color: $colorGreyscale_1;
                }
            }
            a{
                @include styleA("big");
                font-size: 22px;
            }
        }
    }
}

/* ------------ SECTION 3 ------------ */

.section-3{
    height: 841px;
    .container-3{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 120px 0;
        .text{
            @include styleGrid("width",7,1);
            margin-bottom: 64px;
            p{
                @include styleP("big", $color: $colorGreyscale_2);               
                text-align: center;
            }
            h2{
                @include styleH("h2");
                text-align: center;
            }
        }
        .gif{
            @include styleGrid("width",10);
            display: flex;
            justify-content: space-between;
            margin-bottom: 58px;

        }
        .btn-s-3{
            @include styleButton("big","1");
        }
    }
    
}

/* ------------ SECTION 4 ------------ */

.section-4{
    height: 757px;
    background-color: $colorGreyscale_4;
    .container-4{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 100px 0 146px 0;
        .title{
            h2{
                @include styleH("h2");
                margin-bottom: 64px;
            }
        }
        .cards{
            @include styleGrid("width",10);
            display: flex;
            justify-content: space-between;
            .card{
                @include styleGrid("width",3,1);
                height: 394px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                border-radius: 16px;
                h4{
                    @include styleH("h4", $color: $colorGreyscale_5);
                }
                h3{
                    @include styleH("h3", $color: $colorGreyscale_5);
                }
                .btn-s-4{
                    @include styleButton("small","2");
                    width: 160px;
                    z-index: 10;

                }
                &:first-child{
                    background-color: $colorPrimary_1;
                    padding: 50px 0 50px 40px;
                    img{
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                &:nth-child(2){
                    background-color: $colorGreyscale_1;
                    padding: 65px 0 50px 40px;
                    .btn-s-4{
                        @include styleButton("small","4");
                    }
                    img{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 5;
                    }
                }
                &:last-child{
                    background-color: $colorPrimary_2;
                    padding: 50px 0 50px 40px;
                    img{
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-top-right-radius: 16px;
                    }
                }
                
            }
        }
    }
    
}
/* ------------ SECTION 5 ------------ */

.active-card{
    cursor: default !important;
    box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.13);
    transition: all 0.25s ease;
    p{
        display: block !important;
        transition: all 0.25s ease;
    }
}
.section-5{
    height: 788px;
    .container-5{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 120px 0;
        .title{
            p{
                @include styleP("big", $color: $colorGreyscale_2);
                text-align: center;
            }
            h2{
                @include styleH("h2");
                margin-bottom: 64px;
            }
        }
        .container-slider{
            display: flex;
            align-items: center;
            @include styleGrid("width",10,2);
            .container-text{
                margin-right: 40px;
                .card-text{
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    border-radius: 8px;
                    padding: 24px 38px;
                    @include styleGrid("width",5,1);
                    .card-title{
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        .img-margin{
                            @include styleGrid("width",1);
                        }
                        h4{
                            @include styleH("h4"); 
                        }
                    }
                    p{  
                        display: none;
                        @include styleP("medium");
                        @include styleGrid("padding",1,0,"left");
                    }
                }
            }
        }
    }
}

/* ------------ SECTION 6 ------------ */

.section-6{
    height: 669px;
    position: relative;
    background-color: $colorPrimary_1;
    .container-6{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        padding: 100px 0 90px 0;
        .title{
            margin-bottom: 64px;
            h2{
                @include styleH("h2");
            }
        }
        .container-img{
            display: flex;
            justify-content: space-between;
            @include styleGrid("width",10);
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include styleGrid("width",3);
                .container-text{
                    text-align: center;
                    h3{
                        margin-bottom: 8px;
                        @include styleH("h3", $color: $colorGreyscale_5);
                
                    }
                    p{
                        @include styleP("medium", $color: $colorGreyscale_5);
                    }
                }
            }
        }
    }
    .bg-s6{
        position: absolute;
        top: 81px;
        left: 0;
    }
}

/* ------------ SECTION 7 ------------ */

.active-img{
    display: flex !important;
}
.active-text{
    display: flex !important;
}

.section-7{
    height: 540px;
    background-color: $colorPrimary_2;
    .container-7{
        display: flex;
        @include styleGrid("width",12);
        .slide-prev,
        .slide-next{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            margin-top: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include styleGrid("width",1);
            @include styleGrid("height",1);
        }
        .slide-prev{
            @include styleGrid("margin",1,2,"right");
        }
        .container-img{
            margin-top: 113px;
            @include styleGrid("margin",1,1,"right");
            .slide-img{
                display: none;
                align-items: flex-end;
                justify-content: center;
                height: 330px;
                border-radius: 16px;
                @include styleGrid("width",3);
                img{
                    border-radius: 16px;
                }
                &:first-child{
                    background: left 0 top 82px $colorPrimary_1 url(../../img/bg-s7-1.svg) repeat-x;
                }
                &:nth-child(2){
                    background: repeating-linear-gradient( -45deg, #fff, #fff 12px, $colorPrimary_1 12px, $colorPrimary_1 45px );
                }
                &:last-child{
                    background: $colorPrimary_1 url(../../img/bg-s7-3.svg);
                }
            }
        }
        .container-text{
            margin-top: 136px;
            @include styleGrid("margin",1,1,"right");
            .slide-text{
                display: none;
                height: 312px;
                flex-direction: column;
                justify-content: space-between;
                @include styleGrid("width",4,2);
                img{
                    max-width: 126px;
                }
                .quote-text{
                    @include styleP("big", $color: $colorGreyscale_5, $font: $font_1_bold);
                }
                div{
                    h5{
                        @include styleH("h5", $color: $colorGreyscale_5);
                    }
                    p{
                        @include styleP("medium", $color: $colorGreyscale_5);
                    }
                }
            }
        }
    }
}

/* ------------ SECTION 8 ------------ */

.section-8{
    position: relative;
    height: 480px;
    background-color: $colorSecondary_1;
    .container-8{
        .container-text{
            display: flex;
            padding: 120px 0;
            @include styleGrid("margin",1,1,"left");
            h2{
                @include styleH("h2");
                @include styleGrid("width",6,1);
                @include styleGrid("margin",1,1,"right");
            }
            .container-cta{
                @include styleGrid("width",3);
                p{
                    margin-bottom: 24px;
                    @include styleP("big");
                    img{
                        margin-right: 6px;
                    }
                }
                .btn-s8{
                    @include styleButton("big","1")
                }
            }
        }  
    }
    .bg-s8{
        position: absolute;
        top: 139px;
        left: 0;
    }
}

/* ------------ SECTION 9 ------------ */

.section-9{
    height: 200px;
    background-color: $colorGreyscale_1;
    .container-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 29px 0;
    }
}

/*====================================
=            END PAGE HOME           =
====================================*/
