/*================================
=            PAGE HEADER         =
================================*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 40px;
    background-color: $colorGreyscale_5;
    z-index: 20;
    transition: transform 0.25s ease-in;

    .container-h {
        display: flex;
        align-items: center;
        gap: 50.5px;

        .container-link {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .container-img {
                display: none;
            }

            .link-left,
            .link-right {
                display: flex;
                align-items: center;
            }

            .link-left {
                position: relative;

                .container-btn {
                    .btn {
                        display: none;
                    }
                }

                .item-nav {
                    margin-right: 24px;
                    @include styleP("medium");
                    text-decoration: none;

                    &:first-of-type {
                        display: flex;
                        align-items: center;
                        gap: 6.5px;
                    }
                }

                .scrolling-menu {
                    display: none;
                    position: absolute;
                    margin-left: -15px;
                    top: 43px;
                    list-style-type: none;
                    padding: 10px;
                    border-radius: 16px;
                    background-color: $colorGreyscale_5;
                    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);

                    .scrolling-item {
                        padding: 12px;
                        border-radius: 12px;

                        a {
                            @include styleP("medium");
                            text-decoration: none;
                        }

                        &:hover {
                            background-color: $colorGreyscale_4;
                        }
                    }

                    &.style-active {
                        display: block;
                        animation: openDrop 0.25s ease-out;

                        @keyframes openDrop {
                            from {
                                opacity: 0;
                                transform: translateY(-5px);
                            }

                            to {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .link-right {
                align-self: flex-end;

                a:first-child {
                    margin-right: 24px;
                    @include styleA("big");
                }

                .container-btn {
                    .btn {
                        @include styleButton("small", "3");
                    }
                }
            }
        }

        .nav-toggle {
            display: none;
        }
    }

    &.style-scroll {
        padding: 40px 40px 28px 40px;
        transform-origin: top;
        transform: translateY(-12px);
        border-bottom: 1px solid $colorGreyscale_3;
    }
}

/*----------  RESPONSIBLE  ----------*/
@media screen and (max-width: $breakPoint_mobile) {
    header {
        padding: 22px 24px;

        .container-h {
            gap: unset;
            justify-content: space-between;

            .container-link {
                position: absolute;
                flex-direction: column;
                justify-content: unset;
                padding: 22px 24px;
                background-color: $colorGreyscale_5;
                z-index: 1;
                height: 100vh;

                .container-img {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 46px;

                    .nav-close {
                        margin-right: 6px;
                    }
                }

                .link-left {
                    flex-direction: column;
                    align-items: flex-start;

                    .container-btn {
                        width: 100%;

                        .btn {
                            display: block;
                            @include styleButton("medium", "1");
                            width: 100%;
                            padding: 0;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 64px;
                            order: 1;
                        }
                    }

                    .item-nav {
                        font-size: 18px;
                        margin-bottom: 40px;
                        order: 4;

                        &:first-of-type {
                            order: 2;
                        }
                    }

                    .scrolling-menu {
                        position: static;
                        margin: unset;
                        top: unset;
                        padding: unset;
                        box-shadow: unset;
                        background-color: unset;
                        order: 3;

                        .scrolling-item {
                            padding: unset;
                            border-radius: unset;
                            margin-bottom: 16.75px;

                            a {
                                font-size: 18px;
                            }

                            &:last-of-type {
                                margin-bottom: 40px;
                            }
                        }
                    }
                }

                .link-right {
                    align-self: flex-start;

                    .container-btn {
                        .btn {
                            display: none;
                        }
                    }
                }

                &.style-active {
                    top: 0;
                }
            }

            .nav-toggle {
                display: block;
            }
        }

        &.style-scroll {
            padding: 22px 24px 16px 24px;
            transform-origin: top;
            transform: translateY(-6px);
        }

        .nav-menu {
            position: relative;
            top: -150vh;
            left: 0;
        }


    }
}

/*====================================
=            END PAGE HEADER         =
====================================*/